a {
  text-decoration: none;
}
/*----------- Header --------------*/
.header-container h4 a {
  font-size: 30px;
  background-color: skyblue;
}
.header-container ul li a {
  font-size: 25px;
  font-weight: 500;
}
.header-container ul li a:hover {
  background-color: skyblue;
  border-radius: 5px;
  color: white;
}

/*----------- Hero --------------*/
.hero-container {
  height: 550px;
  background-color: #0f0f0f;
  background-image: url("/img/hero-image.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.hero-container h4 {
  font-size: 2.5rem;
}
.hero-container h2 {
  font-size: 5rem;
}
/*----------- About --------------*/
.about-container h4 {
  font-size: 35px;
}
.about-container img {
  width: 20vw;
}
.about-container p,
.about-container h6 {
  font-size: 20px;
}

/*----------- Skills --------------*/
.skills-container h4 {
  font-size: 35px;
}
.skills-container img {
  width: 15vw;
}
.skills-container p {
  font-size: 20px;
}

/*----------- Projects --------------*/
.projects-container h4 {
  font-size: 35px;
}
.projects-container h5 {
  font-size: 25px;
}
.projects-container .shadow:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.projects-container img {
  height: 25vh;
}

/*----------- Contact --------------*/
.contact-container h4 {
  font-size: 35px;
}
.contact-container img {
  width: 40px;
  height: 40px;
}
.contact-container h5 {
  font-size: 25px;
}
.contact-container p {
  font-size: 20px;
}
.contact-container input {
  height: 25px;
  font-size: 17px;
}
.contact-container label {
  font-size: 25px;
}
.contact-container textarea {
  height: 20px;
}
.contact-container button {
  font-size: 22px;
  padding: 3px;
}
.border-hover {
  border: 1px solid black;
}
/*----------- Footer --------------*/
.footer-container p {
  font-size: 20px;
}
.scrolltotop img {
  width: 40px;
}
.scrolltotop {
  background-color: #82a9d0;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 900px) {
  .header-container h4 a {
    font-size: 25px;
    background-color: skyblue;
  }
  .header-container ul li a {
    font-size: 17px;
    font-weight: 500;
    padding: 2px;
  }
  .header-container button {
    font-size: 20px;
    padding: 2px;
  }
  .hero-container h4 {
    font-size: 2rem;
  }
  .hero-container h2 {
    font-size: 3rem;
  }

  .about-container h4 {
    font-size: 25px;
  }
  .about-container img {
    width: 30vw;
  }
  .about-container p,
  .about-container h6 {
    font-size: 15px;
  }

  .skills-container h4 {
    font-size: 25px;
  }
  .skills-container img {
    width: 20vw;
  }
  .skills-container p {
    font-size: 15px;
  }

  .projects-container h4 {
    font-size: 25px;
  }
  .projects-container h5 {
    font-size: 20px;
  }
  .projects-container a {
    font-size: 15px;
  }
  .projects-container img {
    height: 20vh;
  }

  .contact-container h4 {
    font-size: 25px;
  }
  .contact-container img {
    width: 20px;
    height: 20px;
  }
  .contact-container h5 {
    font-size: 20px;
  }
  .contact-container p {
    font-size: 15px;
  }
  .contact-container input {
    height: 20px;
    font-size: 13px;
  }
  .contact-container label {
    font-size: 20px;
  }
  .contact-container textarea {
    height: 15px;
    font-size: 13px;
  }
  .contact-container button {
    font-size: 16px;
    padding: 2px;
  }
  .hero-container img {
    height: 30vh;
    width: 100%;
  }
  .footer-container p {
    font-size: 15px;
  }
  .scrolltotop img {
    width: 30px;
  }
}
@media (max-width: 500px) {
  .header-container h4 a {
    font-size: 15px;
    background-color: skyblue;
  }
  .header-container ul li a {
    font-size: 10px;
    font-weight: 500;
    padding: 2px;
  }
  .header-container button {
    font-size: 12px;
    padding: 2px;
  }
  .hero-container {
    height: 300px;
  }
  .hero-container h4 {
    font-size: 1rem;
  }
  .hero-container h2 {
    font-size: 2rem;
  }
  .about-container h4,
  .skills-container h4,
  .projects-container h4,
  .contact-container h4 {
    font-size: 17px;
  }
  .about-container img {
    width: 30vw;
  }
  .about-container p,
  .skills-container p {
    font-size: 13px;
  }
  .about-container h6 {
    font-size: 15px;
  }
  .skills-container img {
    width: 25vw;
  }
  .projects-container h5 {
    font-size: 15px;
  }
  .projects-container a {
    font-size: 12px;
  }
  .projects-container img {
    height: 13vh;
  }
  .contact-container img {
    width: 18px;
    height: 18px;
  }
  .contact-container h5 {
    font-size: 15px;
  }
  .contact-container p {
    font-size: 10px;
  }
  .contact-container input {
    height: 15px;
    font-size: 10px;
  }
  .contact-container label {
    font-size: 15px;
  }
  .contact-container textarea {
    height: 10px;
    font-size: 10px;
  }
  .contact-container button {
    font-size: 10px;
    padding: 1px;
  }
  .footer-container p {
    font-size: 10px;
  }
  .scrolltotop img {
    width: 20px;
  }
}
